doctype html
html(lang="de")
    head
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/normalize.css")
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title LineTip
    body
        h2.text-center Line Detection Test
        h2.text-center
          button.btn.btn-primary.btn.btn3d(type='button' onclick="location.href='/linetip'")
            span.glyphicon.glyphicon-cloud
            |  Go to Line Detection
        .container.content
        .row
          .col-md-6.col-md-offset-3
            .testimonials
              .active.item
                blockquote
                  p
                    | The Line Detection test was developed for Prof. Dr. med. M. Sabel. In addition, this project was drawn up in collaboration with the Multimedia Center of the Heinrich-Heine University in Düsseldorf.
                blockquote
                    | Contact us or check out the 
                    a(href='https://github.com/lidox/line_tip') repository on Github!
                .carousel-info
                  img.pull-left(alt='', src='/img/max.jpg')
                  .pull-left
                    span.testimonials-name Max Kieslich
                    span.testimonials-post E-Mail: 
                      a(href='mailto:max.kieslich@aesora.de?Subject=Line%20Detection', target='_top') max.kieslich@aesora.de
                .carousel-info
                  img.pull-left(alt='', src='/img/artur.jpg')
                  .pull-left
                    span.testimonials-name Artur Schäfer
                    span.testimonials-post E-Mail: 
                      a(href='mailto:schaefa@mail.ru?Subject=Line%20Detection', target='_top') schaefa@mail.ru