doctype html
html(lang="de")
    head
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/normalize.css")
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title LineTip
        script(type='text/javascript', src='http://code.jquery.com/jquery.min.js')
        script(src='/js/utils.js')
        style.
          //body{ background-color: ivory; }
    body
        h2
          | getroffen: 
          a#clicks 0
          |   und verfehlt: 
          a#fails 0
        |   
            
        .drawcontainer
            canvas#myCanvas(width='1024', height='768', style='border:1px solid #d3d3d3;')
            //canvas#myCanvas(style='border:1px solid #d3d3d3;')
            script.
                zeichneGraph();            
            audio#audio(src='http://www.soundjay.com/button/beep-07.wav', autostart='false')    