doctype html
html(lang="de", manifest="cache.mf")
    head
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
        title Line Detection
        script(src='/js/jquery.min.js')
        script(src='/js/utils.js')
        script(src='/js/stats.js')
        script(src='/js/lineDataSet.js')
        script(src='/js/fullscreen.js')
        script(src='/js/js.cookie.js')
        script(src='/sound/base64-binary.js')
        script(src='/sound/good.js')
    body
        audio#goodaudio(src='sound/good.wav', autostart='false')
        audio#wrongaudio(src='sound/wrong.wav', autostart='false')
        p#data
        .col-md-3.hideMe
            form(onsubmit="return false;")#eingabeForm
                label MED-ID:
                input#bezeichnung(value='',class="form-control")
                input.button#loading(type='button', value=' Laden ',class="btn btn-primary", onclick="loadDataBtn()")
                label Versuchsdauer:
                a#versuchsdauer
                label Trefferrrr:
                a#treffer
                label Fehlversuche:
                a#fehlversuche
                label Versuchszeitpunkt:
                a#versuchszeitpunkt
                label &nbsp
        .col-md-9.hideMe
            label#patient
                label Patient:
            #tab
            table#list(cellspacing='5px', cellpadding='20px', text-align='center')
                tr
                    th Zeit
                    th Treffer
                    th Fehlversuche
                    th Versuchszeitpunkt
            p#lines
        .col-md-12.hideMe
            h2
              | getroffen: 
              a#clicks 0
              |   und verfehlt: 
              a#fails 0
              label &nbsp;
        .drawcontainer
            canvas#myCanvas(width='1024', height='748')
            script.
                zeichneGraph();
                loadDataBtn();