doctype html
html(lang="de", manifest="cache.mf")
    head
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/normalize.css")
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Line Detection
        //script(type='text/javascript', src='http://code.jquery.com/jquery.min.js')
        script(src='/js/jquery.min.js')
        script(src='/js/utils.js')
        script(src='/js/stats.js')
        script(src='/js/lineDataSet.js')
        script(src='/js/fullscreen.js')
        style.
          //body{ background-color: ivory; }
    body          
        audio#goodaudio(src='sound/good.wav', autostart='false')
        audio#wrongaudio(src='sound/wrong.wav', autostart='false')
        p#data
            form(onsubmit="return false;")#eingabeForm
                  | Versuchsname: 
                  input#bezeichnung(value='')
                  br
                  | Versuchsdauer: 
                  a#versuchsdauer
                  br
                  | Treffer: 
                  a#treffer
                  br
                  | Fehlversuche: 
                  a#fehlversuche
                  br
                  | Versuchszeitpunkt: 
                  a#versuchszeitpunkt
                  br
                  input.button(type='button', value=' Reset ', onclick="resetForm()")
                  input.button(type='button', value=' Speichern ', onclick="addData()")
        h2
            | Versuche
        #tab
        table#list(cellspacing='5px', cellpadding='20px', text-align='center')
            tr
                th Bezeichnung
                th Zeit
                th Treffer
                th Fehlversuche
                th Versuchszeitpunkt
            tr
                
        p#lines
        h2
          | getroffen: 
          a#clicks 0
          |   und verfehlt: 
          a#fails 0
        input.button(type='button', value=' Stop ', onclick='stopTrial()')
        .drawcontainer
            canvas#myCanvas(width='1024', height='768', style='border:1px solid #d3d3d3;')
            //canvas#myCanvas(style='border:1px solid #d3d3d3;')
        script.
            zeichneGraph();  