doctype html
html(lang="de")
    //, manifest="cache.mf"//
    head
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
        title Line Detection
        //script(type='text/javascript', src='http://code.jquery.com/jquery.min.js')
        script(src='/js/jquery.min.js')
        script(src='/js/utils.js')
        script(src='/js/stats.js')
        script(src='/js/lineDataSet.js')
        script(src='/js/fullscreen.js')
        script(src='/js/js.cookie.js')
    body
        audio#goodaudio(src='sound/good.wav', autostart='false')
        audio#wrongaudio(src='sound/wrong.wav', autostart='false')
        p#data
        .col-md-12
            form(onsubmit="return false;")#eingabeForm
                label MED-ID:
                input#bezeichnung(value='',class="form-control")
                br
                label Versuchsdauer:
                a#versuchsdauer
                br
                label Treffer:
                a#treffer
                br
                label Fehlversuche:
                a#fehlversuche
                br
                label Versuchszeitpunkt:
                a#versuchszeitpunkt
                br
                //input.button(type='button', value=' Reset ',class="btn btn-primary", onclick="resetForm()")
                label &nbsp
                input.button(type='button', value=' Speichern ',class="btn btn-primary", onclick="saveDataBtn()")
                label &nbsp;
                input.button(type='button', value=' Laden ',class="btn btn-primary", onclick="loadDataBtn()")
                br
        .col-md-12
            h2#patient
                label Patient:
            #tab
            table#list(cellspacing='5px', cellpadding='20px', text-align='center')
                tr
                    th Zeit
                    th Treffer
                    th Fehlversuche
                    th Versuchszeitpunkt

            p#lines
        .col-md-12
            h2
              | getroffen: 
              a#clicks 0
              |   und verfehlt: 
              a#fails 0
              label &nbsp;
              input.button(type='button', value=' Stop ',class="btn btn-primary", onclick='stopTrial()')
        //input.button(type='button', value='Start', class="btn btn-btn-primary", onclick='hideAll()')
        //input.button(type='button', value='Stop', class="btn btn-btn-primary", onclick='showAll()')
        .drawcontainer
            canvas#myCanvas(width='1024', height='758')
            script.
                zeichneGraph();
                loadDataBtn();
                //addButtonToCanvas();