doctype html
html(lang="de", manifest="cache.mf")
    head
        link(rel="stylesheet", type="text/css", href="/css/style.css")
        link(rel="stylesheet", type="text/css", href="/css/normalize.css")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
        meta(charset="UTF-8")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
        title Line Detection
        script(src='/js/jquery.min.js')
        script(src='/js/js.cookie.js')
        script(src='/js/fastclick.js')
        script(src='/js/utils.js')
        script(src='/js/stats.js')
        script(src='/js/lineDataSet.js')
        
    body
        p#data
        .col-md-3.hideMe
            form(onsubmit="return false;")#eingabeForm
                label MED-ID:
                input#bezeichnung(value='',class="form-control")
                input.button#loading(type='button', value=' Load ',class="btn btn-primary", onclick="loadDataBtn();")
                label Trial duration:
                a#versuchsdauer
                label Hits:
                a#treffer
                label Fails:
                a#fehlversuche
                label Time:
                a#versuchszeitpunkt
                label &nbsp
        .col-md-9.hideMe
            label#patient
                label MED-ID:
            #tab
            table#list(cellspacing='5px', cellpadding='20px', text-align='center')
                tr
                    th Trial duration
                    th Hits
                    th Fails
                    th Time
            p#lines
        .col-md-12.hideMe
            div.button#contact|Contact
            div.contactInfo
                p|This Web-App is proudly made by 
                    a(href="mailto:schaefa@mail.ru")| Artur Schaefer 
                    | and 
                    a(href="mailto:max.kieslich@aesora.de"| Max Kieslich
        .col-md-12.hideMe
            h2
              | hits: 
              a#clicks 0
              |   and fails: 
              a#fails 0
              label &nbsp;
        .drawcontainer
            canvas#myCanvas(width='1024', height='748')
            script.
                zeichneGraph();
                loadDataBtn();
                addEventButton();
