
table {
    border-collapse: collapse;
}

table, tbody, tr, td, th {
    border: 1px solid black;
    text-align: center
}

tbody .tr .td {
	text-align: center !important
}

.drawcontainer{
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

#id {
    display: none;
}

#list {
    width: 100%;
}

#list th {
    text-align: center;
}
#myCanvas { 
  float: none;  
    background-color: black;
    display: block;
  //width: 1024px;
  //height: 768;
}

#eingabeForm label {
    display: block;
}

#bezeichnung {
    display: inline-block;
    width: 65%
}

#loading {
    margin-left: 5%;
}

@media only screen and (orientation:portrait){
  body {    
    width: 140vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
} 

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}

html {
	direction: ltr;
	overflow-x: hidden;
}

body {
	background-color: #FFF;
	color: #777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	overflow-x: hidden;
    display: block;
}

body a {
	outline: none !important;
}

li {
	line-height: 24px;
}
#header {
	position: relative;
	z-index: 100;
}
#line
{
    width:100%;
    height:100%;
}

#contact {
    width: 5em;
    height: 2em;
    display: block;
    background-color: #000000;
    color: #fff;
    line-height: 2em;
    text-align: center;
}

.contactInfo {
    display: block;
}