
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    text-align: center
}

.drawcontainer{
    width: 100%;
    height: 90%;
    margin: 0;
}

#id {
    display: none;
}

#list {
    width: 100%;
}
#myCanvas { 
  float: none;  
    background-color: black;
  //width: 1024px;
  //height: 768;
} 

@media only screen and (orientation:portrait){
  body {    
    width: 140vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
} 

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}
